
/* Background */
body {
    background-image: url(images/congruent_pentagon.png)
}

/* Container Heading*/
h1 {
    padding: 20px 20px 30px 0;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 60px;
}

body {
    font-family: 'Nunito', sans-serif;
}

.container {
    width: 100%;
}

/* Connect with me Card */
i {
    color: #B2615D;
    font-size: 40px;
    padding: 5px;
    margin: auto;
}

i:hover {
    color: #FFBBB7;
}

.connect-body {
    text-align: center;
    border: 1px solid #FFBBB7;
}

/* About Page*/
.bio-image {
    float: left;
    padding-right: 25px;
    padding-bottom: 15px;
}

.bio {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

/*Portfolio Page*/
.card {
    float: left;
    margin: 10px 30px 30px 0;
}


.btn-primary {
    background-color: #B2615D;
    border-color: #B2615D;
}

.btn-primary:hover {
    background-color: #FFBBB7;
    border-color: #B2615D;
}

/* Contact Page*/
.form-group {
    width: 90%;
}

.btn-submit {
    margin-bottom: 30px;
    margin-top: 15px;
}

/* Footer */
.sticky-bottom {
    padding: 20px;
}

.content {
    min-height: calc(100vh - 600px);
}
.footer {
    height: 25px;
}

/* Rules for .bio-image when screen is <992px */

@media screen and (max-width: 980px) {
    .bio-image {
        width: 50%;
    }    
}

@media screen and (max-width: 768px) {
    .bio-image {
        width: 60%;
    }  
}

@media screen and (max-width: 640px) {
    .bio-image {
        width: 70%;
    }    

    p {
        clear: both;
    }
}
